@import "./normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&display=swap");
@import "./layout.css";
.hero {
  background-color: #F5F5F5;
  height: 100vh;
  min-height: 40.625rem;
  color: #292929;
  position: relative;
}
.hero:before {
  content: url(./../../img/Rectangle14.png);
  position: absolute;
  bottom: -1.5625rem;
  right: 18%;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 1.5rem 1.5625rem 4.0625rem 0;
  background: url("../../img/Ellipse 5.png") right top 66%/50% auto no-repeat;
}

.hero__title-section {
  max-width: 42%;
}

.hero__main-title {
  font-size: 3rem;
  line-height: 1.1;
  font-weight: bold;
  margin-bottom: 1.375rem;
  text-transform: uppercase;
}

.hero__title-desc {
  font-size: 1.3125rem;
  font-family: Alegreya Sans;
  margin-bottom: 3.3125rem;
  max-width: 21.9375rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__list {
  display: flex;
  align-items: center;
}

.menu__item {
  margin-right: 1.6875rem;
  font-size: 1.125rem;
  font-family: Alegreya Sans;
}
.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  text-decoration: none;
}

.phone-number {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.phone-number__icon-elem {
  width: 0.8125rem;
  height: 0.8125rem;
  margin-right: 0.375rem;
}

.phone-number__text {
  font-size: 1.125rem;
}

.features {
  display: flex;
}

.feature {
  display: flex;
}

.feature__icon {
  height: 2.625rem;
  width: 2.5625rem;
  margin-right: 0.9375rem;
}

.feature__text {
  font-size: 1rem;
  max-width: 7.125rem;
}

.btn {
  font-size: 1rem;
  font-weight: bold;
  padding: 1.125rem 2.5625rem;
  text-transform: uppercase;
  border-radius: 6.25rem;
  line-height: 1;
  text-decoration: none;
  border: none;
  cursor: pointer;
}
.btn--theme--red {
  color: #FFFFFF;
  background: #E01F3D;
}
.btn--theme--red:hover {
  background: #CA1B36;
}
.btn--theme--transparent {
  background: transparent;
  color: white;
  text-transform: none;
  font-weight: normal;
  padding: 1.125rem 0.4375rem;
}
.btn--theme--transparent:hover {
  color: #E01F3D;
}

.section {
  height: 100vh;
  min-height: 48.375rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section--font-color--white {
  color: white;
}
.section--font-color--white .section__title {
  color: inherit;
  margin-bottom: 3.0625rem;
}

.section__title {
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
  color: #292929;
  text-transform: uppercase;
}
.section__title--reviews {
  margin-bottom: 1.375rem;
}

.headline {
  text-align: center;
  margin-bottom: 3.875rem;
}

.headline__title {
  margin-bottom: 0.4375rem;
}

.headline__subtitle {
  padding: 0 22%;
}

.benefits {
  display: flex;
}

.benefits__item {
  flex: 1;
  padding: 0 3%;
  position: relative;
}
.benefits__item:before {
  content: url(./../../img/Combinedshape.png);
  position: absolute;
  top: 3.5625rem;
  right: 0;
  transform: translateX(50%);
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child::before {
  display: none;
}

.benefit {
  text-align: center;
}

.benefit__image-wrapper {
  display: inline-block;
  width: 8rem;
  height: 8rem;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 0.8125rem;
}

.benefit__icon {
  width: 4.125rem;
  height: 4.125rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.benefit__icon--battery {
  width: 2.1875rem;
}

.benefit__title {
  font-weight: bold;
  color: #292929;
  font-size: 1.5rem;
}

.benefit__desc {
  line-height: 1.1875rem;
}

.benefits-section {
  position: relative;
}
.benefits-section:before {
  content: url(./../../img/Vector2.png);
  position: absolute;
  bottom: -1.25rem;
  left: 5%;
}

.reviews-section:before {
  content: url(./../../img/Ellipsereviews.png);
}

.reviews__display {
  background: #F8FAF9;
}
.reviews__display:before {
  content: "";
  display: block;
  width: 5.1875rem;
  height: 5.1875rem;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -4.0625rem;
}

.reviews__display-inner {
  display: flex;
}

.reviews__avatar {
  width: 15.8125rem;
  height: 16.5rem;
}

.reviews__avatar-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  flex: 1;
  margin-left: 2.5rem;
  padding: 1.75rem 3.3125rem 0 0;
}

.reviews__title {
  font-weight: bold;
  font-size: 1.5rem;
  color: #292929;
  margin-bottom: 1.6875rem;
}

.reviews__text {
  margin-bottom: 2.375rem;
}

.reviews__author {
  font-weight: bold;
  font-size: 1.125rem;
  color: #292929;
}

.reviews__switcher {
  display: flex;
  align-items: center;
  justify-content: center;
}

.interactive-avatar {
  width: 4.625rem;
  height: 4.625rem;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.interactive-avatar--active {
  border-color: #E01F3D;
}

.interactive-avatar__link {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: block;
}

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reviews-section {
  position: relative;
}
.reviews-section:before {
  content: url(./../../img/Ellipsereviews.png);
  position: absolute;
  bottom: -1.25rem;
  left: 5%;
}

.order-section {
  background: #181818;
  position: relative;
}
.order-section:before {
  content: url(./../../img/Polygon.png);
  position: absolute;
  top: -1.375rem;
  right: 15%;
}

.form {
  display: flex;
}

.form__col {
  flex: 1;
  margin-right: 1.6875rem;
}
.form__col:last-child {
  margin-right: 0;
}

.form__row {
  display: flex;
  margin-bottom: 1.125rem;
}

.form__block {
  flex: 1;
  margin-right: 1.0625rem;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  padding: 1rem 0.625rem;
  border: solid 0.1875rem transparent;
  border-radius: 0.25rem;
}
.form__input--textarea {
  height: 9.5rem;
  resize: none;
  margin-bottom: 1.3125rem;
}
.form__input:focus {
  border-color: #E01F3D;
  outline: none;
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
}

.radio {
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
}
.radio--checkbox .radio__visible {
  border-radius: 0;
  margin-bottom: 3.0625rem;
}
.radio--checkbox .radio__visible:before {
  background: url(./../../img/checkbox.png) center center no-repeat;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible:before {
  display: block;
}

.radio__visible {
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  background: #FFFFFF;
  border-radius: 50%;
  margin: 0 0.625rem 1.1875rem 0;
}
.radio__visible:before {
  content: "";
  width: 0.75rem;
  height: 0.75rem;
  background: #E01F3D;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.radio__title {
  margin-right: 1rem;
}

.fixed-menu {
  position: fixed;
  top: 36%;
  right: 3%;
  z-index: 100;
}

.fixed-menu__item {
  margin-bottom: 0.3125rem;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #E01F3D;
}
.fixed-menu__item--active .fixed-menu__link:before {
  background: #E01F3D;
}

.fixed-menu__link {
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 50%;
  border: 0.0625rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link:before {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: #292929;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}