.benefit {
  text-align: center;

  @include phones {
    display: flex;
    text-align: left;
  }
}

.benefit__image-wrapper {
  display: inline-block;
  width: rem(128px);
  height: rem(128px);
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: rem(13px);

  @include phones {
    margin-bottom: 0;
    margin-right: rem(12px);
  }
}

.benefit__icon {
  width: rem(66px);
  height: rem(66px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &--battery {
    width: rem(35px);
  }
}

.benefit__title {
  font-weight: bold;
  color: #292929;
  font-size: rem(24px);

  @include tablets {
    margin-bottom: rem(15px);
  }
}

.benefit__desc {
  line-height: rem(19px);

  @include tablets {
    line-height: rem(25px);
  }

  @include phones {
    padding-right: rem(50px);
  }
}
