.socials {
  display: flex;
}

.socials__item {
  display: inline-flex;
  position: relative;
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.socials__item:last-child {
  margin-right: 0;
}

.socials__icon {
  max-width: 100%;
  max-height: 100%;
  fill: #B3B3B3;
}

.socials__item--icon--fb:hover .fb-icon {
  fill: #000000;
}

.socials__item--icon--vk:hover .vk-icon {
  fill: #000000;
}

.socials__item--icon--instagram:hover .inst-icon {
  fill: #000000;
}

.socials__item--icon--telegram:hover .tel-icon {
  fill: #000000;
}