.benefits-section {
  position: relative;

  &:before {
    content: url(./../img/Vector2.png);
    position: absolute;
    bottom: rem(-20px);
    left: 5%;
  }
}

.benefits-section {
  @include tablets {
    height: 140vh;
  }

  @include phones {
    min-height: 100vh;
  }
}