.composition {
  position: absolute;
  top: 0;
  opacity: 0;
  left: -9999px;
  width: rem(273px);
  height: rem(294px);
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.06);
  backdrop-filter: blur(40px);
  border-radius: 4px;
  transition: opacity 0.3s;
  padding: rem(28px) rem(25px) rem(34px) rem(35px);
}

.composition__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: rem(28px);
}

.composition__img {
  margin-right: rem(22px);
}

.composition__text {
  color: #000000;
  margin-left: rem(-60px);
}

.composition__parameters {
  color: #000000;

}