.form {
  display: flex;
}

.form__col {
  flex: 1;
  margin-right: rem(27px);

  &:last-child {
    margin-right: 0;
  }
}

.form__row {
  display: flex;
  margin-bottom: rem(18px);
}

.form__block {
  flex: 1;
  margin-right: rem(17px);

  &:last-child {
    margin-right: 0;
  }
}

.form__input {
  width: 100%;
  padding: rem(16px) rem(10px);
  border: solid rem(3px) transparent;
  border-radius: rem(4px);

  &--textarea {
    height: rem(152px);
    resize: none;
    margin-bottom: rem(21px);
  }

  &:focus {
    border-color: #E01F3D;
    outline: none;
  }
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
}