.form {
  display: flex;

  @include tablets {
    flex-direction: column;
    padding: 0 19%;
  }

  @include phones {
    padding: 0;
  }
}

.form__col {
  flex: 1;
  margin-right: rem(27px);

  &:last-child {
    margin-right: 0;
  }

  @include tablets {
    margin-right: 0;
  }
}

.form__row {
  display: flex;
  margin-bottom: rem(18px);
}

.form__block {
  flex: 1;
  margin-right: rem(17px);

  &:last-child {
    margin-right: 0;
  }
}

.form__input {
  width: 100%;
  padding: rem(16px) rem(10px);
  border: solid rem(3px) transparent;
  border-radius: rem(4px);

  &--textarea {
    height: rem(152px);
    resize: none;
    margin-bottom: rem(21px);

    @include tablets {
      height: rem(90px);
      margin-bottom: rem(6px);
    }
  }

  &:focus {
    border-color: #E01F3D;
    outline: none;
  }
}

.form__controls {
  display: flex;
  flex-wrap: wrap;

  @include phones {
    justify-content: center;
  }
}

.form__btns {
  display: flex;
  justify-content: center;
}

.form__input {
  @include tablets {
    padding: rem(8px) rem(10px);
  }
}

.form__title--error {
  color: red;
  display: none;
}

.field_error {
  display: block;
  border: 2px solid red;
}