.hamburger {
  width: 26px;
  height: 20px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  display: none;

  @include tablets {
    display: inline-flex;
  }
}

.hamburger.hamburger--active {
  opacity: 0.7; 
}

.hamburger.hamburger--active .hamburger__plank--top {
  -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
  -ms-transform: translateY(11px) translateX(0) rotate(45deg);
  transform: translateY(11px) translateX(0) rotate(45deg);
  border-radius: 5px; 
}

.hamburger.hamburger--active .hamburger__plank--middle {
  opacity: 0; 
}

.hamburger.hamburger--active .hamburger__plank--bottom {
  -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
      -ms-transform: translateY(-11px) translateX(0) rotate(-45deg);
      transform: translateY(-11px) translateX(0) rotate(-45deg);
      border-radius: 5px;
}


.hamburger__plank {
  display: block;
  background: #292929;
  height: 4px;
  border-radius: 10px;
}



