.order-section {
  background: #181818;
  position: relative;
  height: 100vh;

  &:before {
    content: url(./../../img/Polygon.png);
    position: absolute;
    top: rem(-22px);
    right: 15%;
  }
}

.order-section__title {
  @include phones {
    font-size: rem(38px);
  }
}

