.order-section {
  background: url(./../img/backforma.png) center center/cover no-repeat;
  position: relative;
  height: 100vh;

  &:before {
    content: url(./../img/Polygon.png);
    position: absolute;
    top: rem(-22px);
    right: 15%;
  }
}

.order-section__title {
  @include phones {
    font-size: rem(38px);
  }
}

