.section {
  height: 100vh;
  min-height: rem(774px);
  display: flex;
  flex-direction: column;
  justify-content: center;

  &--font-color--white {
    color: white;

    .section__title {
      color: inherit;
      margin-bottom: rem(49px);
    }
  }
}

.section__title {
  font-weight: bold;
  font-size: rem(48px);
  text-align: center;
  color: #292929;
  text-transform: uppercase;

  &--reviews {
    margin-bottom: rem(22px);
  }
}