.slider-section {
  background: #F8FAF9;
  position: relative;

  &:before {
    content: url(./../../img/slider-before.png);
    position: absolute;
    bottom: rem(-25px);
    right: 18%;
  }
}

.slider {
  overflow: hidden;
}

.slider-container {
  display: flex;
  align-items: center;
  position: relative;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: rem(14px);
  z-index: 1;

  &_left {
    left: rem(-60px);

    @include tablets {
      left: rem(65px);
    }

    @include phones {
      left: rem(38px);
    }
  }

  &_right {
    right: rem(-30px);

    @include tablets {
      right: rem(80px);
    }

    @include phones {
      right: rem(23px);
    }
  }

  &:last-child {
    margin-right: 0;
  }

  @include tablets {
    margin-top: -153px;
  }
}



.slider__list {
  display: flex;
  left: 0;
  position: relative;
  transition: 0.5s;
}

.slider__item {
  display: flex;
  flex-shrink: 0;
  width: 100%;
  align-items: center;
  justify-content: center;

  @include tablets {
    flex-direction: column;
  }
}

.slider__col {
  display: flex;
  flex-direction: column;
  margin-right: rem(59px);

  &:last-child {
    margin-right: 0;
  }

  @include tablets {
    align-items: center;
    margin-right: 0;
  }

  @include phones {
    margin-right: 0;
    align-items: center;
  }
}

.slider__img {
  width: rem(452px);
  height: rem(452px);

  @include tablets {
    width: rem(306px);
    height: rem(306px);
    margin-bottom: rem(49px);
  }
}


.slider__wrapper-icon {
  background:#9A9A9A;
  width: rem(91px);
  height: rem(91px);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: rem(25px);
  position: relative;
  cursor: pointer;

  @include tablets {
    display: none;
  }

  &:hover .composition {
    opacity: 1;
    left: 100%;
  }
}

.slider__icon {
  width: 42px;
  height: 42px;
  fill: white;
}

.slider__content {
  @include tablets {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}


.slider__title {
  font-weight: bold;
  font-size: rem(36px);
  text-transform: uppercase;
  color: #292929;
  max-width: rem(430px);
  line-height: 1.1;
  margin-bottom: rem(24px);
 

  @include tablets {
    max-width: 100%;
    font-size: rem(28px);
    text-align: center;
  }

  @include phones {
    max-width: rem(416px);
  }
}

.slider__desc {
  max-width: rem(368px);
  margin-bottom: rem(27px);

  @include tablets {
    max-width: 82%;
  }

  @include phones {
    max-width: rem(412px);
  }
}

.slider__parameters {
  display: flex;
  margin-bottom: rem(24px);
}

.slider__parameters-name {
  margin-right: rem(86px);
}

.slider__parameters-text {
  font-weight: bold;
  font-size: rem(18px);
  color: #000000;
}

.slider__order {
  display: flex;
  align-items: center;
}

.slider__order-price {
  font-size: rem(36px);
  color: #151515;
  margin-right: rem(13px);

  @include tablets {
    margin-right: rem(30px);
  }
}