.slider-container {
  display: flex;
  flex-direction: column;
}

.slider__list {
  display: flex;
}

.slider__item {
  display: flex;
  flex-direction: column;
}

.slider__col {
  display: flex;
  flex-direction: column;
}

.slider__img {
  width: rem(452px);
  height: rem(452px);
}

.slider__wrapper-icon {
  background:#9A9A9A;
  width: rem(91px);
  height: rem(91px);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(50%);
}

.slider__icon {
  position: relative;
}

.slider__title {
  font-weight: bold;
  font-size: rem(36px);
  text-transform: uppercase;
  color: #292929;
  max-width: rem(419px);
  line-height: 42px;
}

.slider__desc {
  max-width: rem(368px);
}