.team.team--version--mobile {
    display: none;
  }

.team--version--desktop {
  display: flex;
  justify-content: space-between;
}

.team__item {
  margin-right: rem(20px);
  display: flex;
  flex-direction: column;

  &:last-child {
    margin-right: 0;
  }
}

.section__title--team {
  margin-bottom: rem(53px);
}

.team__member {
  min-width: rem(220px);
  min-height: rem(290px);
  margin-bottom: rem(25px);
}

.team__title {
  font-weight: bold;
  font-size: 18px;
  color: #292929;
  border: none;
  background: none;
  margin-bottom: rem(11px);
  position: relative;
  max-width: rem(200px);
  cursor: pointer;
  outline: none;

  &:before {
    content: "";
    border: 4px solid transparent;
    width: 0px;
    height: 0px;
    border-top-color: #E01F3D;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-top-width: 12px;
    position: absolute;
    left: 94%;
    border-left-width: 12px;
    transform: rotate(135deg);
    }

    &:after {
      border: 4px solid transparent;
      width: 0px;
      height: 0px;
      border-top-color: #E01F3D;
      border-right-width: 0px;
      border-bottom-width: 0px;
      border-top-width: 12px;
      position: absolute;
      left: 94%;
      border-left-width: 12px;
      transform: rotate(315deg);
      top: 47%;
      }
}

.team__content-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: rem(222px);
}

.team__occ {
  color: #292929;
  margin-bottom: rem(4px);
}

.team__content-text {
  text-align: center;
}

.team__content {
  position: absolute;
  top: 100%;
  overflow: hidden;
  transition: height .3s;
  height: 0;
}



